# Datenordner ignorieren
mastery-project-masterschool/data/

# Virtuelle Umgebung ignorieren
.venv/

# Jupyter Notebook Checkpoints ignorieren
**/.ipynb_checkpoints/

# Python Cache-Dateien ignorieren
__pycache__/
*.py[cod]
*.pyo

# Sonstige temporäre Dateien
*.log
*.tmp
*.swp
.DS_Store
Thumbs.db
